@import "compass/css3/animation";

// IDs

#current-gesture {
  overflow: visible;
}

#gesture-target {
  &.is-paused {
    background-color: rgba(255,255,255,0.6);
  }
}

#music-button {
  @include slice('./images/music.png');
  font-family: Futura, Impact, Helvetica Neue, Helvetica, sans-serif;

  &.is-muted {
    opacity: 0.3;
  }
}

#pause-toggle {
  @include slice('./images/pause.png');
  .left, .middle, .right { display: none; }

  &.is-paused {
    @include slice('./images/play.png');
  }
}

#timer-bar {
  background-color: #cfcfcf;

  #timer-bar-inner {
    background-color: #DA009B;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    &.level-1 {
      @include animation(flash 4s linear 0s infinite alternate);
    }

    &.level-2 {
      @include animation(flash 3s linear 0s infinite alternate);
    }

    &.level-3 {
      @include animation(flash 2s linear 0s infinite alternate);
    }

    &.level-3-urgent {
      @include animation(flash 0.5s linear 0s infinite alternate);
    }
  }

  .level-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 48px;
    line-height: 75px;
    text-align: center;

    &.level-label-behind {
      text-shadow: rgba(0,0,0,0.5) 0 1px 1px;
    }
  }
}

// Classes

$theme.points-label {
  color: #b7aeda;
  font-family: Futura, Impact, Helvetica Neue, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 100px;
  text-align: right;
}

$theme.score-label {
  color: #DA009B;
  font-family: Futura, Impact, Helvetica Neue, Helvetica, sans-serif;
  font-size: 62px;
  line-height: 100px;
  text-align: right;
}

$theme.start-label {
  color: #22C6DA;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-align: center;

  .start-label-to {
    font-size: 30px;
    line-height: 30px;
  }
}

@include keyframes(flash) {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

// Sprites

.tap-1 {
  @include slice('./images/tap-1.png');
}

.tap-2 {
  @include slice('./images/tap-2.png');
}

.tap-3 {
  @include slice('./images/tap-3.png');
}

.swipe-SWIPE_LEFT-1 {
  @include slice('./images/swipe-SWIPE_LEFT-1.png');
}

.swipe-SWIPE_RIGHT-1 {
  @include slice('./images/swipe-SWIPE_RIGHT-1.png');
}

.swipe-SWIPE_DOWN-1 {
  @include slice('./images/swipe-SWIPE_DOWN-1.png');
}

.swipe-SWIPE_UP-1 {
  @include slice('./images/swipe-SWIPE_UP-1.png');
}

.pinch-in-2 {
  @include slice('./images/pinch-in-2.png');
}

.pinch-out-2 {
  @include slice('./images/pinch-out-2.png');
}

.pinch-in-3 {
  @include slice('./images/pinch-in-3.png');
}

.pinch-out-3 {
  @include slice('./images/pinch-out-3.png');
}
