@import "compass/css3";

// Add your custom CSS styles here.
//
// You may want to create additional stylesheet files for every page or pane
// within your application rather than placing all your CSS in here.  In any
// case, all stylesheet files will be combined into a single stylesheet on
// build to let it load super fast.
//
// Remember, Compass (http://compass-style.org) is built in and you can use
// SCSS syntax (http://sass-lang.com/) even though stylesheet files should end
// with the .css extension.
//
// Learn more on styling your app here: http://sproutcore.com/guides/chance.html

// Example.  This style is applied to the labelView child view.
$theme.sc-view {
  &.padding-view {
    border-color: rgba(0,0,0,0.2);
  }
}

.drag-handle {
  background-color: pink;
}

